* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-title {
  position: fixed;       /* stays at top even when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.3);  /* soft transparent background */
  backdrop-filter: blur(8px);
  padding: 12px 0;
  z-index: 1000;         /* stays on top of other elements */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ff69aa, #ffcae0);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Glassmorphism card */
.card {
  width: 100%;
  max-width: 400px;
  padding: 30px 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  box-shadow: 0 40px 40px rgba(0,0,0,0.15);
  transition: 0.7s ease;
}

h1 {
  font-size: 1.8rem;
  color: #9f004d;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  gap: 50px;
  justify-content: center;
}

button {
  padding: 12px 22px;
  border-radius: 25px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

#yesBtn {
  background: #ff4d88;
  color: white;
}

#yesBtn:hover {
  transform: scale(1.5);
}

#noBtn {
  background: #747474;
  color:azure;
}

#noBtn:hover {
    transform: scale(1.1);
}

.hidden {
  display: none;
}

/* Celebration */
#celebration h2 {
  margin-top: 20px;
  color: #ff2f76;
}

.dance {
  font-size: 2rem;
  margin-top: 15px;
  animation: dance 1s infinite alternate;
}

.gifts {
  font-size: 2rem;
  margin-top: 10px;
  animation: pop 0.8s infinite;
}

/* Hearts */
.heart {
  position: absolute;
  bottom: -20px;
  font-size: 20px;
  animation: floatUp 6s linear infinite;
}

@keyframes floatUp {
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}

/* Shake */
.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

@keyframes dance {
  from { transform: rotate(-5deg); }
  to { transform: rotate(5deg); }
}

@keyframes pop {
  50% { transform: scale(1.2); }
}
